.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider {
  width: 80.75%;
  height: 5em;
  display: block;
  margin: auto;
  /* background: transparent; */
}

#preferences-container {
  width: 70em;
  margin: auto;
}

.question-container{
  width:100%;
  margin: auto;
  border: 1px solid rgb(148, 148, 148);

  background-color: #cfcfcf;
}

.question-container:hover {
  background-color: #e7e7e7;
  box-shadow: 0px 5px 5px black;
}

.question {
  width: 50%;
  text-align: center;
  margin: 1em auto 0em auto;
}

.choice-table {
  width: 100%;
}

.choice{
  width: 20%;
  text-align: center;
  padding: 1em;
  margin-right: .5em;
  margin-left: .5em;
  /* border-radius: 0px 0px 48px 48px; */
  background-color: rgba(255, 255, 255, 0.445);
  box-shadow: 0px 12px 12px rgb(156, 156, 156);
}

.selected {
  background-color: rgb(172, 212, 172);
  box-shadow: 0px 5px 5px rgb(70, 70, 70);
}

button.selected {
  background-color: rgb(88, 216, 255);
  box-shadow: 0px 2px 2px rgb(70, 70, 70);
}

.choice:hover{
  background-color: rgb(206, 206, 206);
  box-shadow: 0px 9px 5px rgb(104, 104, 104);
}

.active {
  background-color: ;
}

.coin-table {
  border-collapse:collapse;
}

th, td {
  text-align: right;
  padding-right: .5em;;
}

.col-verythin {
  width: 3em;
}

.col-thin {
  width: 5em;
}

.col-medium {
  width: 6em;
}

.col-medbig {
  width: 8em;
}

.col-large {
  width: 10em;
}

#coinmarket-container {
  width: 55%;
  /* border: 1px solid black; */

}

#test-div {
  width: 45%
}

#marketplace-row2 {
  display: flex;
}

#marketplace-container {
  background-color:rgb(180, 180, 180);
  width: 90em;
  padding: 1em 3em 3em 3em;
  margin: 0 auto 3em auto;
  box-shadow: 0px 5px 5px black;
  border: 1px solid rgb(148, 148, 148);
}

#coinmarket-wrapper {
  background-color:rgb(180, 180, 180);
  width: 90em;
  padding: 2em;
  margin: auto;
  
}

#portfolio-table {
  margin-right: 0em;
  margin-left: auto;
  width: 100%;
  margin: auto;
}


#market-table {
  width: 100%;
  margin-right: 0em;
  margin-left: auto;
}


#portfolio-container {
  margin-bottom: 3em;
}

.r-align {
  text-align: right;
}

.l-align {
  text-align: left;
}

input[type=submit] {
  width: 100%;
  height: 6em;
  background-color: rgb(102, 223, 108);
  /* border: 1px solid rgb(148, 148, 148); */
  /* box-shadow: 0px 0px 5px black; */
  font-size: 2em;
}

input[type=submit]:hover {
  background-color: rgb(75, 194, 81);
  box-shadow: 0px 9px 5px rgb(104, 104, 104);
}